/* todas as páginas */

* {
  box-sizing: border-box;
}

.title {
	text-align:center;
	color:white;
	font-size: 35px;
	font-family: Arial;
	margin-top: 150px;
	
}


.menu {
  float: left;
  width: 20%;
  padding: 30px;
}
.menuitem {
  padding: 8px;
  margin-top: 7px;
  border-bottom: 1px solid #f1f1f1;
}
.main {
  float: left;
  width: 60%;
  padding: 0 20px;
  overflow: hidden;
}
.right {
  background-color: lightblue;
  float: left;
  width: 20%;
  padding: 10px 15px;
  margin-top: 7px;
}



.foot{
    width: 100%;
    height: 70px;
	padding: 10px;
    text-align: center;
    color: white;
	
}




body {
  background-image: url("fundo2.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%, 100%, 20%;
  background-size: cover;
  min-height: 500px;
  width:100%;margin: 0 auto;min-width:600px;max-width:2000px;
 
  
}

@media only screen and (max-width:1000px) {
  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 100%;
  }
}
@media only screen and (max-width:1000px) {
  /* For mobile phones: */
  .menu, .main, .right .body .footer{
    width: 100%;
  }
}




/* Botões centrais 1*/

.mainmenubtn {
	border: 2px solid;
    border-radius: 25px;
    background-color: orange;
    color: white;
    border: none;
    cursor: pointer;
    padding:20px;
    margin-top:20px;
	width: 250px;
	font-weight: Arial;
	font-size:18px;
	
	
}
.mainmenubtn:hover {
    color:black;
    background-color: Bisque;
	border: 2px solid;
    border-radius: 25px;
	font-family: Arial;
	
	
    }
.dropdown {
    /*position: absolute;
	left: 980px;
	display: block;*/
    display: inline-block;
	/*margin-left: auto;
	margin-right: auto;*/
    width: 20%;

}
.dropdown-child {
	width: 20%;
    display: none;
    position: absolute;
    background-color: ;
    min-width: 200px;
	font-family: Arial;
    text-align: center;
	margin-top: 30px;
	margin:-10px;
	
}
.dropdown-child a {
	margin-top: 15px;
    color: white;
    padding: 5px;
    text-decoration: none;
    display: block;
	font-family: Arial;
	margin:20px;
}
.dropdown:hover .dropdown-child {
    display: block;
}


/* Botões centrais 2*/

.mainmenubtn2 {
	border: 2px solid;
    border-radius: 25px;
    background-color: orange;
    color: white;
    border: none;
    cursor: pointer;
    padding:20px;
    margin-top:20px;
	width: 250px;
	font-weight: Arial;
	font-size:18px;
	
	
}
.mainmenubtn2:hover {
    color:black;
    background-color: Bisque;
	border: 2px solid;
    border-radius: 25px;
	font-family: Arial;
    }
.dropdown2 {
    /*position: absolute;
	left: 1230px;*/
    width: 20%;
	display: inline-block;
}
.dropdown-child2 {
	width: 20%;
    display: none;
    position: absolute;
    background-color: ;
    min-width: 200px;
	font-family: Arial;
    text-align: center;
	margin-top: 30px;
	margin:-10px;
}
.dropdown-child2 a {
	margin-top: 15px;
    color: white;
    padding: 5px;
    text-decoration: none;
    display: block;
	font-family: Arial;
	margin:20px;
}
.dropdown2:hover .dropdown-child2 {
    display: block;
}


/* Botões centrais 3*/

.mainmenubtn3 {
	border: 2px solid;
    border-radius: 25px;
    background-color: orange;
    color: white;
    border: none;
    cursor: pointer;
    padding:20px;
    margin-top:20px;
	width: 250px;
	font-weight: Arial;
	font-size:18px;
	
}
.mainmenubtn3:hover {
	color:black;
    background-color: Bisque;
	border: 2px solid;
    border-radius: 25px;
	font-family: Arial;
    }
	
.dropdown3 {
    /*position: absolute;
	left: 730px;*/
	display: inline-block;
    width: 20%;
}
.dropdown-child3 {
	width: 20%;
    display: none;
    position: absolute;
    background-color: ;
    min-width: 200px;
	font-family: Arial;
    text-align: center;
	margin-top: 30px;
	margin:-10px;
}
.dropdown-child3 a {
    margin-top: 20px;
    color: white;
    padding: 5px;
    text-decoration: none;
    display: block;
	font-family: Arial;
	margin:20px;
}
.dropdown3:hover .dropdown-child3 {
    display: block;
}

/* Botões centrais 4*/

.mainmenubtn4 {
	border: 2px solid;
    border-radius: 25px;
	background-color: orange;
    color: white;
    border: none;
    cursor: pointer;
    padding:20px;
    margin-top:20px;
	width: 250px;		
	font-weight: Arial;
	font-size:18px;
}
.mainmenubtn4:hover {
	color:black;
    background-color: Bisque;
	border: 2px solid;
    border-radius: 25px;
	font-family: Arial;
    }
.dropdown4 {
    /*position: absolute;
	left: 480px;*/
    width: 20%;
	display: inline-block;
	
}
.dropdown-child4 {
	width: 20%;
    display: none;
    position: absolute;
    background-color: ;
    min-width: 200px;
	font-family: Arial;
    text-align: center;
	margin-top: 0px;
	margin:-10px;
}
.dropdown-child4 a {
    margin-top: 15px;
    color: white;
    padding: 5px;
    text-decoration: none;
    display: block;
	font-family: Arial;
	margin:20px;
	
}
.dropdown4:hover .dropdown-child4 {
    display: block;

}


/* Botões centrais */

/* Logos da footer */

#pos{
   float: right;
    margin-top: 15px;
}
#ant{
    float: left;
    margin-top: -10px;
	width: 40px;
}

#insta{
	width: 20%;
	display: inline-block;
	width: 30px;
	margin-top:-5px;
}

#youtube{
	width: 20%;
	display: inline-block;
	width: 30px;
	margin-top:-5px;
	
}

#linkdlen{
	width: 20%;
	display: inline-block;
	width: 30px;
	margin-top:-5px;
}

#facebook{
	width: 20%;
	display: inline-block;
	width: 30px;
	margin-top:-5px;
}

#twitter{
	width: 20%;
	display: inline-block;
	width: 30px;
	margin-top:-5px;
}

.siga {
	margin-top:-10px;
	
}

/* Logos da footer */


.lista{
    display: inline-block;
    margin: 20px;
    position: relative;
    float: right;
    color: skyblue;

}

#logo{
    float: center;
    margin-top: 0px;
	padding: -5px;
	width: 20px;
}


/* index */

#itit{
    position: relative;
}

.menu-principal{ 
	color: white;
	font-size: 18px;
    display: inline;
    text-decoration: white;
    margin-inside: 10px;
    color: white;
    list-style-type: none;
	text-align: left;
	font-family: Arial;


}
a:hover{ 
    color: black;
	
}

.lista{
    margin-bottom: 1px;
    margin-inside: 5px 10px;
    list-style-type: none;
	color: white;
}
.lista2{
    display: none;
}
.lista2 li:hover ul{
    display: block;
}

.origem{
	position: absolute;
	height: 80px;
    width: 90px;
    margin-left: 100px;
	right: 50px;	
    border-radius: 10px;
	color: white;
} 


/* footer */

.footd{
	text-align: center;
	position: absolute;
    padding: 16px;
    text-align: center;
    color: white;
	font-size: 22px;

}

footer {
  padding: 10px;
  text-align: center;
  color: white;
  position: absolute;
  width: 100%;
  margin-top:400px;
}



#ajustbutom {
    text-align: center;
}
    
    


	@media only screen and (max-width:1000px) {
  /* For tablets: */
  .sobre_container {
    width: 100%;
    padding: 100;
  }
  .dropdown, .dropdown2, .dropdown3, .dropdown4, .foot {
    width: 100%;
	padding: 20;
  }

  .dropdown-child, .dropdown-child2, .dropdown-child3, .dropdown-child4{
    position: relative;
	width: 100%;
  }
  
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .menu-principal, .sobre_container, .menu-departamentos, .dropdown, .dropdown2, .dropdown3, .dropdown4, .footd, .foot{
    width: 100%;
  }

  .dropdown-child, .dropdown-child2, .dropdown-child3, .dropdown-child4{
    position: relative;
  }


}
